<a href="https://colab.research.google.com/github/thyeaditungson29/mystudy_ADL2022/blob/main/HW_ADL_D2L_chapter_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tugas D2L.AI - Thyeadi Tungson - 2106779554**

**Chapter 2**

# **2.1 Data Manipulation**
menggunakan pytorch

**2.1.1 Get Started**

In [1]:
import torch

In [2]:
#Mengenerate tensor sebanyak 12 dengan tipe float
x = torch.arange(12, dtype=torch.float32)
x

tensor([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11.])

In [3]:
#melihat dimensi dari tensor
x.shape

torch.Size([12])

In [4]:
x.numel()

12

In [5]:
#Mengubah dimensi dari tensor
X = x.reshape(3,4)
X

tensor([[ 0.,  1.,  2.,  3.],
        [ 4.,  5.,  6.,  7.],
        [ 8.,  9., 10., 11.]])

In [6]:
#Membuat n buah tensor dengan dimensi m, r dengan isi 0 semua --> torch.zeros((n,m,r))
torch.zeros((2,3,4))

tensor([[[0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [0., 0., 0., 0.]],

        [[0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [0., 0., 0., 0.]]])

In [7]:
#Membuat n buah tensor dengan dimensi m, r dengan isi 1 semua --> torch.ones((n,m,r))
torch.ones((2,3,4))

tensor([[[1., 1., 1., 1.],
         [1., 1., 1., 1.],
         [1., 1., 1., 1.]],

        [[1., 1., 1., 1.],
         [1., 1., 1., 1.],
         [1., 1., 1., 1.]]])

In [8]:
#Membuat tensor dengan isi random torch.randn(m, n) --> dimensi tensor m x n
torch.randn(3,4)

tensor([[ 0.8469,  1.5567,  0.1523,  1.5087],
        [-0.6640, -0.7831,  1.8423, -0.4668],
        [ 1.7433,  1.4283,  1.1719,  1.0951]])

**2.1.2 Operation**

In [9]:
x = torch.tensor([1, 2, 4, 8])
y = torch.tensor([2, 2, 2, 2])
x + y, x - y, x * y, x / y, x ** y  # The ** operator is exponentiation

(tensor([ 3,  4,  6, 10]),
 tensor([-1,  0,  2,  6]),
 tensor([ 2,  4,  8, 16]),
 tensor([0.5000, 1.0000, 2.0000, 4.0000]),
 tensor([ 1,  4, 16, 64]))

In [10]:
# Untuk exp^x di mana x adalah tensor
torch.exp(x)

tensor([2.7183e+00, 7.3891e+00, 5.4598e+01, 2.9810e+03])

In [11]:
X = torch.arange(20, dtype=torch.float32).reshape((5,4))
Y = torch.tensor([[2, 1, 4, 3], [1, 2, 3, 4], [4, 3, 2, 1], [11, 12, 13, 14], [14, 13, 12, 11]])
torch.cat((X, Y), dim=0), torch.cat((X, Y), dim=1)

(tensor([[ 0.,  1.,  2.,  3.],
         [ 4.,  5.,  6.,  7.],
         [ 8.,  9., 10., 11.],
         [12., 13., 14., 15.],
         [16., 17., 18., 19.],
         [ 2.,  1.,  4.,  3.],
         [ 1.,  2.,  3.,  4.],
         [ 4.,  3.,  2.,  1.],
         [11., 12., 13., 14.],
         [14., 13., 12., 11.]]),
 tensor([[ 0.,  1.,  2.,  3.,  2.,  1.,  4.,  3.],
         [ 4.,  5.,  6.,  7.,  1.,  2.,  3.,  4.],
         [ 8.,  9., 10., 11.,  4.,  3.,  2.,  1.],
         [12., 13., 14., 15., 11., 12., 13., 14.],
         [16., 17., 18., 19., 14., 13., 12., 11.]]))

In [12]:
#membandingkan nilai pada tensor dengan dimensi yang sama, False jika anggota yang bersesuaian tidak sama, dan True jika sama
X == Y

tensor([[False,  True, False,  True],
        [False, False, False, False],
        [False, False, False, False],
        [False, False, False, False],
        [False, False, False, False]])

In [13]:
#penjumlahan semua anggota dari sebuah tensor
X.sum()

tensor(190.)

 **2.1.3 Broadcasting Mechanism**

In [14]:
a = torch.arange(3).reshape((3, 1))
b = torch.arange(2).reshape((1, 2))
a,b

(tensor([[0],
         [1],
         [2]]), tensor([[0, 1]]))

In [15]:
a+b

tensor([[0, 1],
        [1, 2],
        [2, 3]])

**2.1.4 Indexing and Slicing**

In [16]:
X,X[-4],X[0:3],X[2:4,3]

(tensor([[ 0.,  1.,  2.,  3.],
         [ 4.,  5.,  6.,  7.],
         [ 8.,  9., 10., 11.],
         [12., 13., 14., 15.],
         [16., 17., 18., 19.]]),
 tensor([4., 5., 6., 7.]),
 tensor([[ 0.,  1.,  2.,  3.],
         [ 4.,  5.,  6.,  7.],
         [ 8.,  9., 10., 11.]]),
 tensor([11., 15.]))

In [17]:
#X[m,n] = a, ganti elemen tensor baris m+1 kolom ke n+1 dengan a
X[1,2] = 13
X

tensor([[ 0.,  1.,  2.,  3.],
        [ 4.,  5., 13.,  7.],
        [ 8.,  9., 10., 11.],
        [12., 13., 14., 15.],
        [16., 17., 18., 19.]])

In [18]:
#X[a:b,:] = m, ganti semua elemen tensor dari baris a+1 sampai baris terakhir dari tensor dengan ukuran b baris
X[3:5, :] = 44
X

tensor([[ 0.,  1.,  2.,  3.],
        [ 4.,  5., 13.,  7.],
        [ 8.,  9., 10., 11.],
        [44., 44., 44., 44.],
        [44., 44., 44., 44.]])

**2.1.5 Saving Memory**

In [19]:
before = id(Y)
Y = Y + X
id(Y) == before

False

In [20]:
Z = torch.zeros_like(Y)
print('id(Z):', id(Z))
Z[:] = X + Y
print('id(Z):', id(Z))

id(Z): 139796360434704
id(Z): 139796360434704

In [21]:
before = id(X)
X += Y
id(X) == before

True

**2.1.6 Conversion**

In [22]:
A = X.numpy()
B = torch.from_numpy(A)
A, B, type(A), type(B)

(array([[  2.,   3.,   8.,   9.],
        [  9.,  12.,  29.,  18.],
        [ 20.,  21.,  22.,  23.],
        [ 99., 100., 101., 102.],
        [102., 101., 100.,  99.]], dtype=float32),
 tensor([[  2.,   3.,   8.,   9.],
         [  9.,  12.,  29.,  18.],
         [ 20.,  21.,  22.,  23.],
         [ 99., 100., 101., 102.],
         [102., 101., 100.,  99.]]),
 numpy.ndarray,
 torch.Tensor)

In [23]:
a = torch.tensor([4.5])
a, a.item(), float(a), int(a)

(tensor([4.5000]), 4.5, 4.5, 4)

**2.1.8 Exercise**

In [24]:
#No. 1
M = torch.arange(12, dtype=torch.float32).reshape((3,4))
N = torch.tensor([[2.0, 1, 4, 3], [1, 2, 3, 4], [4, 3, 2, 1]])
M,N,M == N,M <N, M > N

(tensor([[ 0.,  1.,  2.,  3.],
         [ 4.,  5.,  6.,  7.],
         [ 8.,  9., 10., 11.]]), tensor([[2., 1., 4., 3.],
         [1., 2., 3., 4.],
         [4., 3., 2., 1.]]), tensor([[False,  True, False,  True],
         [False, False, False, False],
         [False, False, False, False]]), tensor([[ True, False,  True, False],
         [False, False, False, False],
         [False, False, False, False]]), tensor([[False, False, False, False],
         [ True,  True,  True,  True],
         [ True,  True,  True,  True]]))

In [25]:
#No. 2
P = torch.arange(6).reshape((3, 1, 2))
Q = torch.arange(4).reshape((1, 2, 2))
P,Q

(tensor([[[0, 1]],

         [[2, 3]],

         [[4, 5]]]), tensor([[[0, 1],
          [2, 3]]]))

In [26]:
P+Q, P-Q, P*Q,P ** Q

(tensor([[[0, 2],
          [2, 4]],

         [[2, 4],
          [4, 6]],

         [[4, 6],
          [6, 8]]]), tensor([[[ 0,  0],
          [-2, -2]],

         [[ 2,  2],
          [ 0,  0]],

         [[ 4,  4],
          [ 2,  2]]]), tensor([[[ 0,  1],
          [ 0,  3]],

         [[ 0,  3],
          [ 4,  9]],

         [[ 0,  5],
          [ 8, 15]]]), tensor([[[  1,   1],
          [  0,   1]],

         [[  1,   3],
          [  4,  27]],

         [[  1,   5],
          [ 16, 125]]]))

# **2.2 Data Preprocessing**

**2.2.1 Reading Dataset**

In [27]:
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')  # Column names
    f.write('NA,Pave,127500\n')  # Each row represents a data example
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [28]:
import pandas as pd

data = pd.read_csv(data_file)
print(data)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

**2.2.2 Handling Missing Data**

In [29]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]
inputs = inputs.fillna(inputs.mean())
print(inputs)

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [30]:
inputs = pd.get_dummies(inputs, dummy_na=True)
print(inputs)

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

**2.2.3 Conversion to the Tensor Format**

In [31]:
inputs

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

In [32]:
outputs

0    127500
1    106000
2    178100
3    140000
Name: Price, dtype: int64

In [33]:
X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))

**2.2.5. Exercises**

In [34]:
#No. 1 - Hapus kolom yang banyak missing value
masukan, keluaran = data.iloc[:, 0:2], data.iloc[:, 2]
masukan = masukan.dropna(axis=1, how=any, thresh= len(masukan) -max(masukan.isnull().sum(axis=0))+1)
masukan

   NumRooms
0       NaN
1       2.0
2       4.0
3       NaN

In [35]:
#sebelum konversi, ingin imputasi missing value di NumRooms
masukan = masukan.fillna(masukan.mean())
masukan

   NumRooms
0       3.0
1       2.0
2       4.0
3       3.0

In [36]:
D,e  = torch.tensor(masukan.values), torch.tensor(keluaran.values)
D, e

(tensor([[3.],
         [2.],
         [4.],
         [3.]], dtype=torch.float64), tensor([127500, 106000, 178100, 140000]))

# **2.3. Linear Algebra**

**2.3.1 Scalars**

In [37]:
#Operasi dasar skalar
x = torch.tensor(3.0)
y = torch.tensor(2.0)

x + y, x * y, x / y, x**y

(tensor(5.), tensor(6.), tensor(1.5000), tensor(9.))

**2.3.2 Vector**

In [38]:
K = torch.arange(4)
L = torch.rand(6)
K, L

(tensor([0, 1, 2, 3]),
 tensor([0.1451, 0.9129, 0.8775, 0.6004, 0.5365, 0.7554]))

In [39]:
K[3], L[3]

(tensor(3), tensor(0.6004))

In [40]:
# 2.3.2.1. Length, Dimensionality, and Shape
len(K), len (L)

(4, 6)

In [41]:
K.shape, L.shape

(torch.Size([4]), torch.Size([6]))

**2.3.3 Matrices**

In [42]:
J = torch.arange(20).reshape(5, 4)
J

tensor([[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11],
        [12, 13, 14, 15],
        [16, 17, 18, 19]])

In [43]:
J.T

tensor([[ 0,  4,  8, 12, 16],
        [ 1,  5,  9, 13, 17],
        [ 2,  6, 10, 14, 18],
        [ 3,  7, 11, 15, 19]])

In [44]:
H = torch.tensor([[1, 2, 3], [2, 0, 4], [3, 4, 5]])
H

tensor([[1, 2, 3],
        [2, 0, 4],
        [3, 4, 5]])

In [45]:
H == H.T

tensor([[True, True, True],
        [True, True, True],
        [True, True, True]])

**2.3.4 Tensor**

In [46]:
X = torch.arange(24).reshape(2, 3, 4)
X

tensor([[[ 0,  1,  2,  3],
         [ 4,  5,  6,  7],
         [ 8,  9, 10, 11]],

        [[12, 13, 14, 15],
         [16, 17, 18, 19],
         [20, 21, 22, 23]]])

**2.3.5 Basic Properties of Tensor Arithmetic**

In [47]:
R = torch.arange(20, dtype=torch.float32).reshape(5, 4)
S = R.clone()  # Assign a copy of `A` to `B` by allocating new memory
R, R + S

(tensor([[ 0.,  1.,  2.,  3.],
         [ 4.,  5.,  6.,  7.],
         [ 8.,  9., 10., 11.],
         [12., 13., 14., 15.],
         [16., 17., 18., 19.]]), tensor([[ 0.,  2.,  4.,  6.],
         [ 8., 10., 12., 14.],
         [16., 18., 20., 22.],
         [24., 26., 28., 30.],
         [32., 34., 36., 38.]]))

In [48]:
R*S

tensor([[  0.,   1.,   4.,   9.],
        [ 16.,  25.,  36.,  49.],
        [ 64.,  81., 100., 121.],
        [144., 169., 196., 225.],
        [256., 289., 324., 361.]])

In [49]:
a = 2
X = torch.arange(24).reshape(2, 3, 4)
a + X, (a * X).shape

(tensor([[[ 2,  3,  4,  5],
          [ 6,  7,  8,  9],
          [10, 11, 12, 13]],

         [[14, 15, 16, 17],
          [18, 19, 20, 21],
          [22, 23, 24, 25]]]), torch.Size([2, 3, 4]))

**2.3.6 Reduction**

In [50]:
x = torch.arange(4, dtype=torch.float32)
x, x.sum()

(tensor([0., 1., 2., 3.]), tensor(6.))

In [51]:
A.shape, A.sum()

((5, 4), 980.0)

In [52]:
R_sum_axis0 = R.sum(axis=0)
R,R_sum_axis0, R_sum_axis0.shape

(tensor([[ 0.,  1.,  2.,  3.],
         [ 4.,  5.,  6.,  7.],
         [ 8.,  9., 10., 11.],
         [12., 13., 14., 15.],
         [16., 17., 18., 19.]]), tensor([40., 45., 50., 55.]), torch.Size([4]))

In [53]:
R_sum_axis1 = R.sum(axis=1)
R_sum_axis1, R_sum_axis1.shape

(tensor([ 6., 22., 38., 54., 70.]), torch.Size([5]))

In [54]:
R.sum(axis=[0, 1])  # Same as `A.sum()`

tensor(190.)

In [55]:
R.mean(), R.sum() / R.numel()

(tensor(9.5000), tensor(9.5000))

In [56]:
R.mean(axis=0), R.sum(axis=0) / R.shape[0]

(tensor([ 8.,  9., 10., 11.]), tensor([ 8.,  9., 10., 11.]))

**2.3.6.1 Non-Reduction Sum**

In [57]:
sum_R = R.sum(axis=1, keepdims=True)
sum_R

tensor([[ 6.],
        [22.],
        [38.],
        [54.],
        [70.]])

In [58]:
R / sum_R

tensor([[0.0000, 0.1667, 0.3333, 0.5000],
        [0.1818, 0.2273, 0.2727, 0.3182],
        [0.2105, 0.2368, 0.2632, 0.2895],
        [0.2222, 0.2407, 0.2593, 0.2778],
        [0.2286, 0.2429, 0.2571, 0.2714]])

In [59]:
R.cumsum(axis=0)

tensor([[ 0.,  1.,  2.,  3.],
        [ 4.,  6.,  8., 10.],
        [12., 15., 18., 21.],
        [24., 28., 32., 36.],
        [40., 45., 50., 55.]])

**2.3.7 Dot Product**

In [60]:
y = torch.ones(4, dtype = torch.float32)
x, y, torch.dot(x, y)

(tensor([0., 1., 2., 3.]), tensor([1., 1., 1., 1.]), tensor(6.))

In [61]:
torch.sum(x * y)

tensor(6.)

**2.3.8 Matrix-Vector Products**

In [62]:
R.shape, x.shape, torch.mv(R, x)

(torch.Size([5, 4]), torch.Size([4]), tensor([ 14.,  38.,  62.,  86., 110.]))

**2.3.9. Matrix-Matrix Multiplication**

In [63]:
B = torch.ones(4, 3)
R, B, torch.mm(R, B)

(tensor([[ 0.,  1.,  2.,  3.],
         [ 4.,  5.,  6.,  7.],
         [ 8.,  9., 10., 11.],
         [12., 13., 14., 15.],
         [16., 17., 18., 19.]]), tensor([[1., 1., 1.],
         [1., 1., 1.],
         [1., 1., 1.],
         [1., 1., 1.]]), tensor([[ 6.,  6.,  6.],
         [22., 22., 22.],
         [38., 38., 38.],
         [54., 54., 54.],
         [70., 70., 70.]]))

**2.3.10. Norms**

In [64]:
u = torch.tensor([3.0, -4.0])
torch.norm(u)

tensor(5.)

In [65]:
torch.abs(u).sum()

tensor(7.)

In [66]:
torch.norm(torch.ones((4, 9)))

tensor(6.)

**Exercise**

In [67]:
# Question 1
RT = torch.transpose(R,0,1) 
R, RT, torch.transpose(RT,0,1)

(tensor([[ 0.,  1.,  2.,  3.],
         [ 4.,  5.,  6.,  7.],
         [ 8.,  9., 10., 11.],
         [12., 13., 14., 15.],
         [16., 17., 18., 19.]]), tensor([[ 0.,  4.,  8., 12., 16.],
         [ 1.,  5.,  9., 13., 17.],
         [ 2.,  6., 10., 14., 18.],
         [ 3.,  7., 11., 15., 19.]]), tensor([[ 0.,  1.,  2.,  3.],
         [ 4.,  5.,  6.,  7.],
         [ 8.,  9., 10., 11.],
         [12., 13., 14., 15.],
         [16., 17., 18., 19.]]))

In [68]:
# Question 2
R = torch.randn(3,3)
T = torch.randn(3,3)
print(R, '\n'),print(T, '\n'),print(torch.transpose(R,0,1)+torch.transpose(T,0,1), '\n'),print(torch.transpose(R+T,0,1), '\n')

tensor([[ 0.5177, -0.2246, -0.9956],
        [ 0.9766,  0.4759, -0.1200],
        [ 0.0070,  1.6487, -0.9753]])

tensor([[ 0.8360, -0.5933,  1.2100],
        [-0.0693,  0.1298,  0.9024],
        [-0.4901, -0.5775,  0.3153]])

tensor([[ 1.3538,  0.9073, -0.4832],
        [-0.8179,  0.6056,  1.0712],
        [ 0.2144,  0.7824, -0.6600]])

tensor([[ 1.3538,  0.9073, -0.4832],
        [-0.8179,  0.6056,  1.0712],
        [ 0.2144,  0.7824, -0.6600]])

(None, None, None, None)

In [69]:
# Question 4
M = torch.arange(24).reshape(2,3,4)
M, print('Panjang Tensor = ',len(M), '\n')

Panjang Tensor =  2

(tensor([[[ 0,  1,  2,  3],
          [ 4,  5,  6,  7],
          [ 8,  9, 10, 11]],

         [[12, 13, 14, 15],
          [16, 17, 18, 19],
          [20, 21, 22, 23]]]), None)

In [70]:
# Question 6
N=M.sum(axis=1)
M, N

(tensor([[[ 0,  1,  2,  3],
          [ 4,  5,  6,  7],
          [ 8,  9, 10, 11]],

         [[12, 13, 14, 15],
          [16, 17, 18, 19],
          [20, 21, 22, 23]]]), tensor([[12, 15, 18, 21],
         [48, 51, 54, 57]]))

M/M.sum(axis=1) not in same dimention

# **2.4. Calculus**

In [1]:
!pip install -q matplotlib==3.0.2

     || 12.9 MB 4.6 MB/s
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
plotnine 0.6.0 requires matplotlib>=3.1.1, but you have matplotlib 3.0.2 which is incompatible.
mizani 0.6.0 requires matplotlib>=3.1.1, but you have matplotlib 3.0.2 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.

In [2]:
!pip install -q d2l

     || 82 kB 537 kB/s
     || 61 kB 6.6 MB/s
     || 9.9 MB 39.7 MB/s
     || 11.2 MB 38.5 MB/s
     || 900 kB 45.7 MB/s
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.25.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.

In [3]:
%matplotlib inline
import numpy as np
from matplotlib_inline import backend_inline
from d2l import torch as d2l


def f(x):
    return 3 * x ** 2 - 4 * x

In [4]:
f(1), f(4)

(-1, 32)

In [5]:
def numerical_lim(f, x, h):
    return (f(x + h) - f(x)) / h

h = 0.1
for i in range(5):
    print(f'h={h:.5f}, numerical limit={numerical_lim(f, 1, h):.5f}')
    h *= 0.1

h=0.10000, numerical limit=2.30000
h=0.01000, numerical limit=2.03000
h=0.00100, numerical limit=2.00300
h=0.00010, numerical limit=2.00030
h=0.00001, numerical limit=2.00003

In [6]:
def use_svg_display():  #save
    """Use the svg format to display a plot in Jupyter."""
    display.set_matplotlib_formats('svg')

In [7]:
def set_figsize(figsize=(3.5, 2.5)):
    use_svg_display()
    d2l.plt.rcParams['figure.figsize'] = figsize

In [8]:
def set_axes(axes, xlabel, ylabel, xlim, ylim, xscale, yscale, legend):
    """Set the axes for matplotlib."""
    axes.set_xlabel(xlabel)
    axes.set_ylabel(ylabel)
    axes.set_xscale(xscale)
    axes.set_yscale(yscale)
    axes.set_xlim(xlim)
    axes.set_ylim(ylim)
    if legend:
        axes.legend(legend)
    axes.grid()

In [11]:
#save
def plot(X, Y=None, xlabel=None, ylabel=None, legend=None, xlim=None,
         ylim=None, xscale='linear', yscale='linear',
         fmts=('-', 'm--', 'g-.', 'r:'), figsize=(3.5, 2.5), axes=None):
    """Plot data points."""
    if legend is None:
        legend = []

    set_figsize(figsize)
    axes = axes if axes else d2l.plt.gca()

    # Return True if `X` (tensor or list) has 1 axis
    def has_one_axis(X):
        return (hasattr(X, "ndim") and X.ndim == 1 or isinstance(X, list)
                and not hasattr(X[0], "__len__"))

    if has_one_axis(X):
        X = [X]
    if Y is None:
        X, Y = [[]] * len(X), X
    elif has_one_axis(Y):
        Y = [Y]
    if len(X) != len(Y):
        X = X * len(Y)
    axes.cla()
    for x, y, fmt in zip(X, Y, fmts):
        if len(x):
            axes.plot(x, y, fmt)
        else:
            axes.plot(y, fmt)
    set_axes(axes, xlabel, ylabel, xlim, ylim, xscale, yscale, legend)

In [ ]:
x = np.arange(0, 3, 0.1)
plot(x, [f(x), 2 * x - 3], 'x', 'f(x)', legend=['f(x)', 'Tangent line (x=1)'])

![image.png]()

# **2.5. Automatic Differentiation**

**2.5.1. A Simple Example**

In [107]:
import torch

x = torch.arange(4.0)
x

tensor([0., 1., 2., 3.])

In [108]:
x.requires_grad_(True)  # Same as `x = torch.arange(4.0, requires_grad=True)`
x.grad  # The default value is None
x

tensor([0., 1., 2., 3.], requires_grad=True)

In [109]:
y = 2 * torch.dot(x, x)
y

tensor(28., grad_fn=<MulBackward0>)

In [110]:
y.backward()
x.grad

tensor([ 0.,  4.,  8., 12.])

In [111]:
x.grad == 4 * x

tensor([True, True, True, True])

In [112]:
x.grad.zero_()
y = x.sum()
y.backward()
x.grad

tensor([1., 1., 1., 1.])

**2.5.2. Backward for Non-Scalar Variables**

In [114]:
# Invoking `backward` on a non-scalar requires passing in a `gradient` argument
# which specifies the gradient of the differentiated function w.r.t `self`.
# In our case, we simply want to sum the partial derivatives, so passing
# in a gradient of ones is appropriate
x.grad.zero_()
x

tensor([0., 1., 2., 3.], requires_grad=True)

In [115]:
y = x * x
y

tensor([0., 1., 4., 9.], grad_fn=<MulBackward0>)

In [116]:
# y.backward(torch.ones(len(x))) equivalent to the below
y.sum().backward()

In [117]:
x.grad

tensor([0., 2., 4., 6.])

**2.5.3. Detaching Computation**

In [122]:
x.grad.zero_()
y = x * x
y

tensor([0., 1., 4., 9.], grad_fn=<MulBackward0>)

In [123]:
u = y.detach()
u

tensor([0., 1., 4., 9.])

In [124]:
z = u * x
z

tensor([ 0.,  1.,  8., 27.], grad_fn=<MulBackward0>)

In [125]:
z.sum().backward()
x.grad == u

tensor([True, True, True, True])

In [126]:
x.grad.zero_()
y.sum().backward()
x.grad == 2 * x

tensor([True, True, True, True])

**2.5.4. Computing the Gradient of Python Control Flow**

In [127]:
def f(a):
    b = a * 2
    while b.norm() < 1000:
        b = b * 2
    if b.sum() > 0:
        c = b
    else:
        c = 100 * b
    return c

In [128]:
a = torch.randn(size=(), requires_grad=True)
a

tensor(1.5507, requires_grad=True)

In [129]:
d = f(a)
d.backward()

In [130]:
a.grad == d / a

tensor(True)

# **2.6. Probability**

**2.6.1. Basic Probability Theor**

In [131]:
%matplotlib inline
import torch
from torch.distributions import multinomial
from d2l import torch as d2l

In [136]:
fair_probs = torch.ones([6]) / 6
fair_probs

tensor([0.1667, 0.1667, 0.1667, 0.1667, 0.1667, 0.1667])

In [137]:
multinomial.Multinomial(1, fair_probs).sample()

tensor([0., 1., 0., 0., 0., 0.])

In [138]:
multinomial.Multinomial(10, fair_probs).sample()

tensor([2., 2., 1., 3., 2., 0.])

In [139]:
# Store the results as 32-bit floats for division
counts = multinomial.Multinomial(1000, fair_probs).sample()
counts / 1000  # Relative frequency as the estimate

tensor([0.1760, 0.1740, 0.1550, 0.1650, 0.1540, 0.1760])

In [143]:
!pip install -q d2l

In [150]:
from matplotlib import pyplot as plt

In [ ]:
counts = multinomial.Multinomial(10, fair_probs).sample((500,))
cum_counts = counts.cumsum(dim=0)
estimates = cum_counts / cum_counts.sum(dim=1, keepdims=True)

d2l.set_figsize((6, 4.5))
for i in range(6):
    d2l.plt.plot(estimates[:, i].numpy(),
                 label=("P(die=" + str(i + 1) + ")"))
d2l.plt.axhline(y=0.167, color='black', linestyle='dashed')
d2l.plt.gca().set_xlabel('Groups of experiments')
d2l.plt.gca().set_ylabel('Estimated probability')
d2l.plt.legend();

![image.png]()

**2.6.1.1. Axioms of Probability Theory**

# **2.7. Documentation**

**2.7.1. Finding All the Functions and Classes in a Module**

In [13]:
import torch

print(dir(torch.distributions))

['AbsTransform', 'AffineTransform', 'Bernoulli', 'Beta', 'Binomial', 'CatTransform', 'Categorical', 'Cauchy', 'Chi2', 'ComposeTransform', 'ContinuousBernoulli', 'CorrCholeskyTransform', 'Dirichlet', 'Distribution', 'ExpTransform', 'Exponential', 'ExponentialFamily', 'FisherSnedecor', 'Gamma', 'Geometric', 'Gumbel', 'HalfCauchy', 'HalfNormal', 'Independent', 'IndependentTransform', 'Kumaraswamy', 'LKJCholesky', 'Laplace', 'LogNormal', 'LogisticNormal', 'LowRankMultivariateNormal', 'LowerCholeskyTransform', 'MixtureSameFamily', 'Multinomial', 'MultivariateNormal', 'NegativeBinomial', 'Normal', 'OneHotCategorical', 'OneHotCategoricalStraightThrough', 'Pareto', 'Poisson', 'PowerTransform', 'RelaxedBernoulli', 'RelaxedOneHotCategorical', 'ReshapeTransform', 'SigmoidTransform', 'SoftmaxTransform', 'StackTransform', 'StickBreakingTransform', 'StudentT', 'TanhTransform', 'Transform', 'TransformedDistribution', 'Uniform', 'VonMises', 'Weibull', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'bernoulli', 'beta', 'biject_to', 'binomial', 'categorical', 'cauchy', 'chi2', 'constraint_registry', 'constraints', 'continuous_bernoulli', 'dirichlet', 'distribution', 'exp_family', 'exponential', 'fishersnedecor', 'gamma', 'geometric', 'gumbel', 'half_cauchy', 'half_normal', 'identity_transform', 'independent', 'kl', 'kl_divergence', 'kumaraswamy', 'laplace', 'lkj_cholesky', 'log_normal', 'logistic_normal', 'lowrank_multivariate_normal', 'mixture_same_family', 'multinomial', 'multivariate_normal', 'negative_binomial', 'normal', 'one_hot_categorical', 'pareto', 'poisson', 'register_kl', 'relaxed_bernoulli', 'relaxed_categorical', 'studentT', 'transform_to', 'transformed_distribution', 'transforms', 'uniform', 'utils', 'von_mises', 'weibull']

**2.7.2. Finding the Usage of Specific Functions and Classes**

In [14]:
help(torch.ones)

Help on built-in function ones:

ones(...)
    ones(*size, *, out=None, dtype=None, layout=torch.strided, device=None, requires_grad=False) -> Tensor

    Returns a tensor filled with the scalar value `1`, with the shape defined
    by the variable argument :attr:`size`.

    Args:
        size (int...): a sequence of integers defining the shape of the output tensor.
            Can be a variable number of arguments or a collection like a list or tuple.

    Keyword arguments:
        out (Tensor, optional): the output tensor.
        dtype (:class:`torch.dtype`, optional): the desired data type of returned tensor.
            Default: if ``None``, uses a global default (see :func:`torch.set_default_tensor_type`).
        layout (:class:`torch.layout`, optional): the desired layout of returned Tensor.
            Default: ``torch.strided``.
        device (:class:`torch.device`, optional): the desired device of returned tensor.
            Default: if ``None``, uses the current device for the default tensor type
            (see :func:`torch.set_default_tensor_type`). :attr:`device` will be the CPU
            for CPU tensor types and the current CUDA device for CUDA tensor types.
        requires_grad (bool, optional): If autograd should record operations on the
            returned tensor. Default: ``False``.

    Example::

        >>> torch.ones(2, 3)
        tensor([[ 1.,  1.,  1.],
                [ 1.,  1.,  1.]])

        >>> torch.ones(5)
        tensor([ 1.,  1.,  1.,  1.,  1.])

In [15]:
torch.ones(4)

tensor([1., 1., 1., 1.])